* {
    margin: 0;
    border: 0;
}

h1 {
    margin: auto;
    text-align: center;    
    padding: 10px 0px 0px 0px;
}

body {
    background-color: rgb(174, 201, 186);
    background-color: rgb(87, 101, 93);
}

/* MENU STYLE */
#newGameButton {
    margin: 0px 0px 5px 20px;
}

#roundTracker {
    margin: 0px 0px 0px 20px;
}

/* CHIPS AND CHAT STYLING */

.bottomBoxes {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

#chatBox {
    height: 250px;
    width: 450px;
    font-size: 24px;
    font-weight: bold
}

#chipBox {
    height: 250px;
    width: 450px;
    font-size: 24px;
    font-weight: bold;
}

.casinoChips {
    width: 450px;
    padding: 15px 0px 15px 0px;
    border-radius: 10%;
    background-color: rgba(11, 62, 6, 0.176);
}

.chips {
    /* padding: 20px 0px 0px 0px; */
    cursor: pointer;
    width: 25%;
    margin: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.845);
}


/* TABLE STYLING */

.gameBody {
    padding: 130px 0px 0px 0px;
    height: 380px;

}

.gameTable {
    display: grid;
    grid-template-columns: 80px 600px 80px;
    grid-template-rows: 35px 15px 35px 15px 35px 15px 30px 30px;
    /* width: 51.3%; */
    margin: 0 auto;
    justify-content: center;
    font-size: 18px;
    /* background-color: darkgreen; */
}

.spaceBet {
    border: none;
}

.insideBet {
    background-color: rgba(38, 113, 38, 1);
    border: 0.1px solid;
    border-color: rgba(0, 0, 0, 0.15);
    color: white;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px 1px rgba(84, 47, 17, 1); */
    /* box-shadow: 0px 0px 0px 1px rgb(255, 255, 255); */
}

.outsideBet {
    cursor: pointer;
    background-color: rgba(38, 113, 38, 1);
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(84, 47, 17, 1);
}

.longBet {
    box-shadow: 2px 2px 2px 2px rgba(84, 47, 17, 1);
}

.zeroBet {
    box-shadow: 2px 2px 0px 2px rgba(84, 47, 17, 1);
}

.topMiddleCell {
    display: flex;
    /* border: 1px solid black; */
}

.topRowBet {
    flex: 1;
    text-align: center;
    border: 1px solid black;
    
}

.topSpaceCell {
    display: flex;
    /* border: 1px solid black; */
}

.topSpaceBet {
    flex: 1;
    /* border: 1px solid black; */
}

.middleMiddleCell {
    display: flex;
    /* border: 1px solid black; */
}

.middleRowBet {
    flex: 1;
    text-align: center;
    border: 1px solid black;
}

.middleSpaceCell {
    display: flex;
    /* border: 1px solid black; */
}

.middleSpaceBet {
    flex: 1;
    /* border: 1px solid black; */
}

.bottomSpaceCell {
    display: flex;
    /* border: 1px solid black; */
}

.bottomRowBet {
    flex: 1;
    text-align: center;
    border: 1px solid black;
}

.bottomSpaceBet {
    flex: 1;
    /* border: 1px solid black; */
}

.bottomMiddleCell {
    display: flex;
    /* border: 1px solid black; */
}

.upperMiddleCell {
    display: flex;
}

.outsideTop {
    flex: 1;
    text-align: center;
    border: 1px solid black;

}

.lowerMiddleCell {
    display: flex;
}

.outsideBottom {
    flex: 1;
    text-align: center;
    border: 1px solid black;
}

.emptyCell {
    border: none;
}



.blackNum {
    background-color: black;
    border-color: white;
    border-radius: 30%;
}

.redNum {
    background-color: red;
    border-color: white;
    border-radius: 30%;
}

.blackDiamond {
    background-color: black;
    /* border-color: white;
    border-radius: 10%; */
}

.redDiamond {
    background-color: red;
    /* border-color: white;
    border-radius: 10%; */
}

