/* ===================WELCOME PAGE=================== */
* {
    margin: none;
    border: none;
}

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

.start {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
}

@font-face {
    font-family: roulettefont;
    src: url(/fonts/Cream\ Cake.otf);
}

@font-face {
    font-family: titlefont;
    src: url(/fonts/Voguella.ttf);
}



.slideTitle {
    display: flex;
    padding: -40px 0px 100px 0px;
    animation: slide 14s 1;
}

.welcomeButton {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.invisible {
    font-size: 300px;
    color: rgba(255,255,255,0);
    user-select: none;
}

.vegasSign {
    justify-content: flex-start;
    margin: 0px 0px 60px 0px;
    opacity: 0.98;
    width: 1200px;
    height: 1200px;
    animation: spin 4s 3;
}



@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
}

.welcome {
    margin: 0;
    padding: 120px 0px 0px 0px;
    color: white;
    font-size: 600px;
    font-family: titlefont;
    font-weight: normal;
    white-space: nowrap;
    letter-spacing: 40px;
}

.vegas {
    color: white;
    font-size: 120px;
}

.roulette {
    justify-content: left;
    flex-shrink: 10;
    color: white;
    font-size: 200px;
    font-weight: normal;
    letter-spacing: 12px;
    font-family: roulettefont;
}

@keyframes slide {
    0% {
        transform: translateX(1700px);
    }
    85% {
        transform: translateX(-3850px);
    }
    100% {
        transform: translateX(-3850px);
    }
};


