/* ===================GAME PAGE=================== */

* {
    margin: 0;
    border: 0;
}

h1 {
    margin: auto;
    text-align: center;    
    padding: 10px 0px 0px 0px;
}

body {
    background-color: rgb(174, 201, 186);
    /* background-color: rgb(87, 101, 93); */
    background-color: rgba(10, 35, 8, 0.762);

}

/* ===================MENU STYLING=================== */

#pageTitle {
    font-size: 60px;
    font-weight: normal;
    margin: 20px 0px 0px 0px;
    color: gold;
    background: -webkit-linear-gradient(60deg, rgb(194, 156, 79) 5%, rgba(252,246,186,1), rgb(187, 150, 70) 1%, rgba(251,245,183,1), rgb(164, 127, 63));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 6px;
    text-shadow: 13px 20px 5px rgb(0,0,0,0.2), 5px -20px 0px rgba(72,72,72,0);
}

#newGameButton {
    width: 120px;
    height: 30px;
    margin: 0px 0px 5px 20px;
    color: rgb(152, 84, 10);
    background-color: gold;
    background: linear-gradient(60deg, rgb(191,149,63,1), rgba(252,246,186,1), rgb(187, 150, 70) 1%, rgba(251,245,183,1), rgb(164, 127, 63));
}
#newGameButton:active {
    transform: translateY(3px);
}

#roundTracker {
    margin: 3px 0px 0px 24px;
    font-size: 28px;
    text-align: left;
}



/* ===================CHIPS AND CHAT=================== */


.bottomBoxes {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

#chatBox {
    display: grid;
    grid-template-columns: 1fr;
    height: 250px;
    width: 450px;
    font-size: 24px;
    font-weight: bold
}


#chipBox {
    height: 250px;
    width: 450px;
    font-size: 24px;
    font-weight: bold;
}

.casinoChips {
    width: 450px;
    padding: 15px 0px 15px 0px;
    border-radius: 10%;
    background-color: rgba(11, 62, 6, 0.176);
}

.chips {
    transform: translateY(2px);
}

.chips:active {
    transform: translateY(6px);
}

.textBoxStyle {
    width: 450px;
    height: 237px;
    padding: 15px 0px 15px 0px;
    /* border-radius: 10%; */
    background-color: rgba(9, 45, 6, 0.176);
}

#textHistory {
    border-radius: 2%;
    width: 100%;
    height: 100%;
    /* color: rgba(243, 243, 243, 0.893); */
    background-color: rgba(9, 45, 6, 0.3);
}

#textHistory p {
    color: rgba(255, 255, 255, 0.928);
    font-size: 20px;
    padding: 5px 10px 0px 10px;
    text-align: left;
    font-weight: normal;
}

.chips {
    /* padding: 20px 0px 0px 0px; */
    cursor: pointer;
    width: 25%;
    margin: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.845);
}


/* ===================ROULETTE TABLE=================== */


.gameBody {
    padding: 30px 0px 0px 0px;
    height: 330px;
}

.gameTable {
    display: grid;
    grid-template-columns: 90px 700px 90px;
    /* grid-template-rows: 35px 15px 35px 15px 35px 15px 30px 30px; */
    grid-template-rows: 45px 25px 45px 25px 45px 25px 40px 40px;
    /* width: 51.3%; */
    margin: 0 auto;
    justify-content: center;
    font-size: 18px;
    /* background-color: darkgreen; */
}

.spaceBet {
    border: none;
}

.insideBet {
    background-color: rgba(38, 113, 38, 1);
    border: 0.1px solid;
    border-color: rgba(0, 0, 0, 0.15);
    color: white;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px 1px rgba(84, 47, 17, 1); */
    /* box-shadow: 0px 0px 0px 1px rgb(255, 255, 255); */
}

.outsideBet {
    cursor: pointer;
    background-color: rgba(38, 113, 38, 1);
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(84, 47, 17, 1);
}

.insdeBet .outsideBet {
    display: flex;
    justify-content: center;
    align-items: center;
}

.longBet {
    box-shadow: 2px 2px 2px 2px rgba(84, 47, 17, 1);
}
.topSpaceBet {
    box-shadow: 2px 5px 0px 2px rgba(84, 47, 17, 0.9);
}
.middleSpaceBet {
    box-shadow: 2px 3px 0px 2px rgba(84, 47, 17, 0.9);
}
.bottomSpaceBet {
    box-shadow: 5px 0px 0px 0px rgba(84, 47, 17, 0.9);
}
.longBet {
    box-shadow: 2px 2px 2px 2px rgba(84, 47, 17, 1);
}

.zeroBet {
    box-shadow: 2px 2px 0px 2px rgba(84, 47, 17, 1);
}

.topMiddleCell {
    display: flex;
    /* border: 1px solid black; */
}

.topRowBet {
    flex: 1;
    text-align: center;
    border: 1px solid black;
    
}

.topSpaceCell {
    display: flex;
    /* border: 1px solid black; */
}

.topSpaceBet {
    flex: 1;
    /* border: 1px solid black; */
}

.middleMiddleCell {
    display: flex;
    /* border: 1px solid black; */
}

.middleRowBet {
    flex: 1;
    text-align: center;
    border: 1px solid black;
}

.middleSpaceCell {
    display: flex;
    /* border: 1px solid black; */
}

.middleSpaceBet {
    flex: 1;
    /* border: 1px solid black; */
}

.bottomSpaceCell {
    display: flex;
    /* border: 1px solid black; */
}

.bottomRowBet {
    flex: 1;
    text-align: center;
    border: 1px solid black;
}

.bottomSpaceBet {
    flex: 1;
    /* border: 1px solid black; */
}

.bottomMiddleCell {
    display: flex;
    /* border: 1px solid black; */
}

.upperMiddleCell {
    display: flex;
}

.outsideTop {
    flex: 1;
    text-align: center;
    border: 1px solid black;

}

.lowerMiddleCell {
    display: flex;
}

.outsideBottom {
    flex: 1;
    text-align: center;
    border: 1px solid black;
}

.emptyCell {
    border: none;
}



.blackNum {
    background-color: black;
    border-color: white;
    border-radius: 30%;
}

.redNum {
    background-color: red;
    border-color: white;
    border-radius: 30%;
}

.blackDiamond {
    background-color: black;
    /* border-color: white;
    border-radius: 10%; */
}

.redDiamond {
    background-color: red;
    /* border-color: white;
    border-radius: 10%; */
}


/* ===================BET BUTTONS=================== */


.gameOptions {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0px 0px 50px 0px;
    width: 200px;
    height: 30px;;
}

#removeBets {
    /* height: 35px; */
    color: rgb(152, 84, 10);
    background: linear-gradient(960deg, rgb(191,149,63,1), rgba(252,246,186,1), rgb(187, 150, 70) 1%, rgba(251,245,183,1), rgb(164, 127, 63));
}

#removeBets:active {
    transform: translateY(3px);
}

#playRound {
    font-size: 14px;
    height: 101%;
    color: rgb(152, 84, 10);
    background: linear-gradient(960deg, rgb(191,149,63,1), rgba(252,246,186,1), rgb(187, 150, 70) 1%, rgba(251,245,183,1), rgb(164, 127, 63));
}

#playRound:active {
    transform: translateY(3px);
}

.betAmountThisRound {
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    /* font-weight: bold; */
    padding: 0px 0px 10px 0px;
}


/* ===================AUDIO PLAYER=================== */

/* .audioplayer {
    width: 50%;
    height: 50%;
} */
